body {
    font-family: 'Poppins', sans-serif;
}

label, input {
    width: 30em;
    height: 30px;
}

section {
    display: flex;
    flex-direction: column;
    margin: 3em;
    gap: 20px;
    font-size: 1.3em;
}

button {
    width: fit-content;
    padding: 0.7em;
    background-color: cornflowerblue;
    color: white;
    font-size: 0.8em;
}

.genre {
    width: 20px;
    height: 20px;
    margin-top: 1.6em;
}