body {
    font-family: 'Poppins', sans-serif;
}

label, input {
    width: 40em;
    height: 30px;
}

section {
    display: flex;
    flex-direction: column;
    margin: 3em;
    gap: 20px;
    font-size: 1.3em;
}

button {
    width: fit-content;
    padding: 0.7em;
    background-color: cornflowerblue;
    color: white;
    font-size: 1em;
}

#genreF, #genreM {
    width: 20px;
    height: 20px;
    margin-top: 1.6em;
}

#gif_age_old, #gif_age_young{
    margin: 5em;
    visibility: hidden;
}

aside .comment {
    margin-right: 4em;
    font-size: 1.3em;
}